* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: tisa;
}

.navbar .nav-item .nav-link
{
    padding-right: 20px;
    padding-left: 20px
}

main .account 
{
    max-width: 500px;
    height:auto;
    margin:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main .account .form-control, main .account .btn
{
    border-radius: 25px;
	box-shadow: 2px 2px 3px gray;
    height: 50px;
}

main .error
{
    padding-left: 5px;
    color:red;
    display: none;
}

::placeholder
{
    font-size: 1rem;
}

@media only screen {
    nav div ul {
        text-align: center;
    }
}