{% extends "layout.html" %}

{% block title %}
    Services & Events
{% endblock %}

{% block main %}
    <header class="service-title">
        <div class="service-text display-4">
            <span>SERVICES & EVENTS</span>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="text-center service-text-1">
                <h3 style="color: lightseagreen;">
                    Feel free to view the services posted by others. After you have
                    found a service that you would like to help, click the 
                    <span style="color: red;">Sign Up</span> Button
                </h3>
            </div>
            {% for service in services %}
                {% if service.theme == 'Celebration' %}
                    <div class="service-events-background" style="background-image: url(/static/image/Celebration.jpg);">
                {% elif service.theme == 'Foodie' %}
                    <div class="service-events-background" style="background-image: url(/static/image/Foodie.jpg);">
                {% elif service.theme == 'Education' %}
                    <div class="service-events-background" style="background-image: url(/static/image/Education.jpg);">
                {% endif %}
                        <div class="service-events">
                            <div class="service-events-title">
                                {{service.title}}
                            </div>
                            <div class="service-events-info-timestamp">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="auto" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                                </svg>
                                HOST:
                                <div class="service-events-information">
                                    <ul>
                                        <li>
                                            Host Username: {{service.host_username}}
                                        </li>
                                        <li>
                                            Host Email: {{service.host_email}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="service-events-info-timestamp">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="auto" fill="currentColor" class="bi bi-alarm-fill" viewBox="0 0 16 16">
                                    <path d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zm2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527z"/>
                                </svg>
                                WHEN:
                                <div class="service-events-information">
                                    <ul>
                                        <li>
                                            Date: {{service.date}}
                                        </li>
                                        <li>
                                            Start Time: {{service.start_time}}
                                        </li>
                                        <li>
                                            End Time: {{service.end_time}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="service-events-info-timestamp">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="auto" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                </svg>
                                WHERE:
                                <div class="service-events-information">
                                    <ul>
                                        <li>
                                            Location: {{service.location}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="service-events-info-timestamp">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="auto" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                                </svg>
                                TOTAL SPOTS:
                                <div class="service-events-information">
                                    <ul>
                                        <li>
                                            Needed Volunteer: {{service.total_volunteer}}
                                        </li>
                                        <li>
                                            Available Spots: <span id='{{service.id}}'>{{service.available}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="service-events-info-timestamp">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="auto" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                    <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                INSTRUCTIONS:
                                <div class="service-events-information">
                                    <ul>
                                        <li>
                                            {{service.instruction}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div style="max-width: 130px; margin:auto;">
                                <button style="padding-right: 20px; padding-left: 20px; font-size:25px; border-radius: 15px; box-shadow:3px 2px 3px red;" type="button" class="btn btn-outline-danger" onclick="availability('{{service.id}}')">Sign Up</button>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}