{% extends "layout.html" %}

{% block title %}
    Services Signed Up
{% endblock %}

{% block main %}
<header class="service-title" style="overflow-x: auto;">
    <div class="service-text display-4">
        <span>SERVICES JOINED</span>
    </div>
</header>
<section>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <th scope="col">Service Name</th>
                <th scope="col">Service DateDate</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Location</th>
                <th scope="col"></th>
            </thead>
            {% for join in joined %}
                <tbody>
                    <td scope="col">{{join.title}}</td>
                    <td scope="col">{{join.date}}</td>
                    <td scope="col">{{join.start_time}}</td>
                    <td scope="col">{{join.end_time}}</td>
                    <td scope="col">{{join.location}}</td>
                    <td scope="col"><button style="border-radius: 15px; box-shadow:3px 2px 3px red;" type="button" class="btn btn-outline-danger" onclick="remove('{{join.services_id}}', '{{join.user_id}}')">Remove</button></td>
                </tbody>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}